input {
  width: 190px;
  height: 40px;
  background-color: rgb(222, 180, 222);
  margin-top: 10px;
  margin-left: 8px;
}

.products {
  display: flex;
}

header {
  background-color: rgb(181, 79, 79);
}

.product {
  width: 150px;
  height: 200px;
  background: #fff;
  margin: 12px;
  border-radius: 10px;
}

.product .name {
  color: red;
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
  font-size: 18px;
  padding: 8px;
}

.product img {
  width: 100%;
  height: calc(100% - 68px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

body {
  background-image: url("https://evolve-mma.com/wp-content/uploads/2019/03/BJJ-Kimura-800x450.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  text-align: center;
}
.price {
  background-color: #ddd;
  width: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  left: 20px;
}
.cart {
  background-image: url("https://media.istockphoto.com/id/1206806317/vector/shopping-cart-icon-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=1RRQJs5NDhcB67necQn1WCpJX2YMfWZ4rYi1DFKlkNA=");
  background-size: 10px;

  /* background-color: rgb(255, 255, 255); */
  /* border-bottom: 1px solid #ddd; */
  /* margin-bottom: 12px; */

  position: absolute;
  left: 20px;
  bottom: 10%;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin-bottom: -20px;
}
h2 {
  font-size: 35px;
  color: rgb(196, 32, 32);
  text-align: center;

  display: table;
  margin: 0px auto 0px auto;
  padding: 3px;
  background-color: #edf5ef;
}
.add-to-cart-butn {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: -18px;
  position: absolute;
  margin-left: 10px;
  height: 19px;
}
li {
  background-color: aliceblue;
  list-style-position: outside;
  list-style-type: decimal;
  position: relative;
  text-align: left;

  color: rgb(184, 16, 16);
}
.removeProduct {
  position: relative;
}
